*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	background-color: rgb(244, 235, 233);
}


/*Estilos del menu*/

.contenedor {
	width: 90%;
	margin:auto;
}

header{
	position: relative;
	height: auto;
}

header .logo {
	color:rgba(0,0,0,.8);
	float: left;
	font-size:30px;
	line-height:50px;
}

header .menu {
	background:rgba(255,255,255,.5);
	overflow: hidden;
}

nav ul{
	list-style: none;
}

nav ul li{
	float: right;
}

nav ul li a{
	color:rgba(0,0,0,.8);
	text-decoration: none;
	display: block;
	padding:0 20px;
	line-height:50px;
}

nav ul li a:hover{
	color:rgba(166,0,0,.8);

}